.container {
  max-width: 1128px;
}

.App {
  text-align: center;
  height: 100%;
  min-height: 100VH;
  background: #f3f2ef;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
